html, body {
    margin: -10px 0 0 0;
    padding: 0;
}

#header {
    padding-top: 150px;
    width: 100%;
    height: 890px;
    background-image: url("Images/eyes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    margin-top: -50px;
}

#logo {
    float: left;
    margin-top: -50px;
    margin-left: -60px;
}

#logo1 {
    width: 250px;
    height: 250px;
}

#question {
    height: 350px;
    width: 600px;
    background-color:rgba(0, 0, 0, 0.767);
    border-radius: 10px;
    padding: 80px;
    -moz-box-shadow: 0 0 5px 5px black;
    -webkit-box-shadow: 0 0 10px 5px black;
    box-shadow: 0 0 30px 3px rgb(39, 39, 39);
}

#welcome {
    color: rgb(240, 142, 51);
    font-family: 'Quicksand';
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    opacity: 100%;
}

#welcome2 {
    color: rgb(240, 142, 51);
    font-family: 'Quicksand';
    text-align: center;
    font-size: 150%;
    opacity: 100%;
}

#startbutton {
    background-color: rgb(0, 0, 0);
    color:  rgb(240, 142, 51);
    padding: 20px 274px;
    font-size: 150%;
    font-family: 'Quicksand';
    border-radius: 10px;
    display: flex;
    margin-top: 65px; 
    margin-left: -80px;
    border: 0px solid rgb(245, 121, 4);
    border-radius: 0px 0px 10px 10px;
}

#startbutton a:visited {
    color: rgb(240, 142, 51);
    text-decoration: none;
}

#startbutton a:hover {
    color: rgb(240, 142, 51);
    text-decoration: none;
}

#button1 {
    padding: 20px 120px;
    display: inline-block;
    border: 0px solid white;
    margin-top: 127px;
    margin-left: -80px;
    margin-right: -10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(0, 0, 0);
    color:  rgb(240, 142, 51);
    font-family: 'Quicksand';
}

#button2 {
    padding: 20px 135px;
    display: inline-block;
    border: 0px solid white;
    margin-top: 129px;
    margin-right: -90px;
    border-bottom-right-radius: 10px;
    background-color: rgb(0, 0, 0);
    color:  rgb(240, 142, 51);
    font-family: 'Quicksand';
}

#button1 a:visited {
    text-decoration: none;
    color: rgb(240, 142, 51);
}

#button2 a:visited {
    text-decoration: none;
    color: rgb(240, 142, 51);
}

#button1 a:hover {
    text-decoration: none;
    color: white;
}

#button2 a:hover {
    text-decoration: none;
    color: white;
}

#pagebutton {
    background-color: rgb(0, 0, 0);
    color:  rgb(240, 142, 51);
    padding: 20px 100px;
    font-size: 150%;
    font-family: 'Quicksand';
    border-radius: 10px;
    display: inline-block;
    border: 0px solid rgb(245, 121, 4);
}

#pagebutton2 {
    background-color: rgb(0, 0, 0);
    color:  rgb(240, 142, 51);
    padding: 20px 100px;
    font-size: 150%;
    font-family: 'Quicksand';
    border-radius: 10px;
    display: inline-block;   
    border: 0px solid rgb(245, 121, 4);
}

#pagebutton a:visited {
    color: rgb(240, 142, 51);
    text-decoration: none;
}

#pagebutton a:hover {
    color: rgb(240, 142, 51);
    text-decoration: none;
}

#pagebutton2 a:visited {
    color: rgb(240, 142, 51);
    text-decoration: none;
}

#pagebutton2 a:hover {
    color: rgb(240, 142, 51);
    text-decoration: none;
}

input[type=text], select {
    width: 100%;
}






